body{
  background-color: black;

}

div{
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 100px;
  box-shadow: 0 0 100px orange;
  position: relative;
  left: 100px;
  top: 50px;
}
